.m-navbar{
    background-color: #9c27b0 !important;
}
.logo{
    color:#ff9500;
    font-size: 1.5em;
}
.navbar-brand{
    padding-top: 0;
    line-height: .9;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-expand>.container{
    padding-left: inherit;
    padding-right: inherit;
}